<img align="right" src="https://ds-cs-images.s3.ap-northeast-2.amazonaws.com/Codestates_Fulllogo_Color.png" width=100>

## *AIB / SECTION 2 / SPRINT 3 / NOTE 1*

# ğŸ“ Assignment
---
# Choose your ML problems

ì´ë²ˆ ìŠ¤í”„ë¦°íŠ¸ì—ì„œëŠ” í¬íŠ¸í´ë¦¬ì˜¤ í”„ë¡œì íŠ¸ë¥¼ ìœ„í•´ ìˆ˜ê°•ìƒ ê°ìê°€ ì •í•œ ë°ì´í„°ì…‹ì„ ì‚¬ìš©í•˜ì—¬ ê³¼ì œë¥¼ ìˆ˜í–‰í•©ë‹ˆë‹¤. í”„ë¡œì íŠ¸ë¥¼ ìœ„í•œ ë°ì´í„°ë¥¼ ìµœì¢… ì„ íƒí•˜ê¸° ì „ì— ì—¬ëŸ¬ ê°€ëŠ¥í•œ ë°ì´í„°ì„¸íŠ¸ë¥¼ ì‚´í´ë³´ê³  ê°„ë‹¨í•œ ëª¨ë¸ê¹Œì§€ í•™ìŠµí•´ ë³´ëŠ” ê²ƒì„ ì¶”ì²œë“œë¦½ë‹ˆë‹¤.

### 1) íƒ€ê²Ÿìœ¼ë¡œ ì‚¬ìš©í•  íŠ¹ì„±ì„ ì„ íƒí•©ë‹ˆë‹¤.
**(Urclass Quiz)** ì—¬ëŸ¬ë¶„ë“¤ì´ í”„ë¡œì íŠ¸ì— ì‚¬ìš©í•  ë°ì´í„°ì…‹ê³¼ íƒ€ê²ŸíŠ¹ì„±ì— ëŒ€í•´ ì•„ë˜ì˜ ë‚´ìš©ì„ í¬í•¨í•˜ì—¬ ê°„ëµí•˜ê²Œ ì„¤ëª…í•´ì£¼ì„¸ìš”. 
* `df.dtypes`ì„ ì‚¬ìš©í•´ì„œ íƒ€ê²ŸíŠ¹ì„±ì˜ ë°ì´í„° íƒ€ì… í™•ì¸
* `df.describe()`ë¥¼ ì‚¬ìš©í•´ì„œ íƒ€ê²ŸíŠ¹ì„±ì˜ ëŒ€í‘œê°’ í™•ì¸(ì‹¤ìˆ˜-í‰ê· , ë²”ì£¼í˜•-ìµœë¹ˆê°’)

In [1]:
from google.colab import drive
drive.mount('/content/mydrive')

Drive already mounted at /content/mydrive; to attempt to forcibly remount, call drive.mount("/content/mydrive", force_remount=True).

In [4]:
# ì„±ì¸ ì¸êµ¬ ì†Œë“ ì˜ˆì¸¡
# target = ['income']
import pandas as pd

df = pd.read_csv('/content/mydrive/MyDrive/AIB/Section2/adult.csv')
df.head()

,age,workclass,fnlwgt,education,education.num,marital.status,occupation,relationship,race,sex,capital.gain,capital.loss,hours.per.week,native.country,income
0,90,?,77053,HS-grad,9,Widowed,?,Not-in-family,White,Female,0,4356,40,United-States,<=50K
1,82,Private,132870,HS-grad,9,Widowed,Exec-managerial,Not-in-family,White,Female,0,4356,18,United-States,<=50K
2,66,?,186061,Some-college,10,Widowed,?,Unmarried,Black,Female,0,4356,40,United-States,<=50K
3,54,Private,140359,7th-8th,4,Divorced,Machine-op-inspct,Unmarried,White,Female,0,3900,40,United-States,<=50K
4,41,Private,264663,Some-college,10,Separated,Prof-specialty,Own-child,White,Female,0,3900,40,United-States,<=50K

In [6]:
df.dtypes
# numerical feature : age, fnlwgt, education.num, capital.gain, capitl.loss, hours.per.week
# categorical feature : workclass, education, marital.status, occupation, relationship, race, sex, native.country

# targetì¸ incomeì€ categorcialì´ë¯€ë¡œ ë¶„ë¥˜ ë¬¸ì œë¡œ ìƒê°í•˜ê³  ëª¨ë¸ì„ ì„¤ê³„

age                int64
workclass         object
fnlwgt             int64
education         object
education.num      int64
marital.status    object
occupation        object
relationship      object
race              object
sex               object
capital.gain       int64
capital.loss       int64
hours.per.week     int64
native.country    object
income            object
dtype: object

In [10]:
df['income'].unique()

array(['<=50K', '>50K'], dtype=object)

In [11]:
df.describe(exclude = 'number')['income']

# incomeì€ '<=50K', '>50K' ë‘ê°€ì§€ categoryê°€ ìˆìœ¼ë©° ê·¸ ì¤‘ ìµœë¹ˆê°’ì€ '<=50K'ì´ë‹¤.

count     32561
unique        2
top       <=50K
freq      24720
Name: income, dtype: object

### 2) í’€ê³ ì í•˜ëŠ” ë¬¸ì œê°€ ë¶„ë¥˜/íšŒê·€ ë¬¸ì œì¸ì§€ ì •í•©ë‹ˆë‹¤.
**(Urclass Quiz)** ë‹¤ì´ì•„ëª¬ë“œë¥¼ ë³´ê´€í•˜ê¸° ìœ„í•´ ê¸ˆê³ ë¥¼ ë§Œë“¤ì—ˆìŠµë‹ˆë‹¤. ê¸ˆê³ ê°€ ë„ˆë¬´ ì‘ì•„ì„œ ê°€ê²©ì´ ìƒìœ„ 25%ì¸ ê²ƒë§Œ ë³´ê´€í•˜ë ¤ê³  í•©ë‹ˆë‹¤. ì´ë¥¼ ìœ„í•´ 'price' íŠ¹ì„±ì„ ì´ìš©í•´ ê¸ˆê³ ì— ë³´ê´€í•  ë‹¤ì´ì•„ëª¬ë“œì™€ ê·¸ë ‡ì§€ ì•Šì€ ê²ƒìœ¼ë¡œ ë¶„ë¥˜í•˜ëŠ” ì´ì§„ë¶„ë¥˜ ì»¬ëŸ¼ì„ ë§Œë“¤ì–´ íƒ€ê²Ÿ íŠ¹ì„±ìœ¼ë¡œ ì‚¬ìš©í•  ê²ƒì…ë‹ˆë‹¤. íƒ€ê²Ÿ íŠ¹ì„±ì˜ ìµœë¹ˆê°’ì˜ ë¹ˆë„ìˆ˜ë¥¼ ì ì–´ì£¼ì„¸ìš”.
- 'top25'ë¼ëŠ” ìƒˆë¡œìš´ íƒ€ê²Ÿë³€ìˆ˜(ì»¬ëŸ¼)ë¥¼ ë§Œë“¤ì–´ì£¼ì„¸ìš”.
- ìƒìœ„ 25% ì´ìƒ True, ìƒìœ„ 25% ë¯¸ë§Œ False

In [12]:
import seaborn as sns
diamonds = sns.load_dataset('diamonds')

In [18]:
import numpy as np

top = np.percentile(diamonds['price'], 75)
diamonds['top25'] = np.where(diamonds['price'] >= top, True, False)

diamonds.head()

   carat      cut color clarity  depth  table  price     x     y     z  top25
0   0.23    Ideal     E     SI2   61.5   55.0    326  3.95  3.98  2.43  False
1   0.21  Premium     E     SI1   59.8   61.0    326  3.89  3.84  2.31  False
2   0.23     Good     E     VS1   56.9   65.0    327  4.05  4.07  2.31  False
3   0.29  Premium     I     VS2   62.4   58.0    334  4.20  4.23  2.63  False
4   0.31     Good     J     SI2   63.3   58.0    335  4.34  4.35  2.75  False

In [21]:
print('íƒ€ê²Ÿ íŠ¹ì„±ì˜ ìµœë¹ˆê°’ì˜ ë¹ˆë„ìˆ˜ =', diamonds['top25'].value_counts()[0])

íƒ€ê²Ÿ íŠ¹ì„±ì˜ ìµœë¹ˆê°’ì˜ ë¹ˆë„ìˆ˜ = 40455

### 3) íƒ€ê²Ÿì˜ ë¶„í¬ë¥¼ ë¶„ì„í•˜ê³  ì‚¬ìš©í•  í‰ê°€ì§€í‘œë¥¼ ì„ íƒí•©ë‹ˆë‹¤. í‰ê°€ì§€í‘œë¥¼ ì„ íƒí•œ ì´ìœ ë¥¼ ì„¤ëª…í•˜ì„¸ìš”.
- ë¶„ë¥˜: í´ë˜ìŠ¤ê°€ ëª‡ ê°œì¸ì§€? í´ë˜ìŠ¤ ë¹„ìœ¨ì´ ì–´ë–¤ì§€(balance or imbalance)
- íšŒê·€: íƒ€ê²Ÿ ë¶„í¬ê°€ right-skewed ì¸ì§€? log-transformì„ ì‚¬ìš©í•  ê²ƒì¸ì§€?
- ë¶„ë¥˜: ë‹¤ìˆ˜ í´ë˜ìŠ¤(majority class) ë¹„ìœ¨ì´ 50%~70% ì¸ ê²½ìš° ì •í™•ë„(accuracy)ë§Œ ì‚¬ìš©í•´ë„ ë¬´ë°©í•©ë‹ˆë‹¤. í•˜ì§€ë§Œ ë²”ìœ„ë¥¼ ë„˜ì–´ì„¤ ê²½ìš° ì •í™•ë„ë§Œì„ ì‚¬ìš©í•´ì„œëŠ” ëª¨ë¸ì„ ì˜ëª» ì´í•´í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤. ì–´ë–¤ í‰ê°€ì§€í‘œë¥¼ ì‚¬ìš©í•´ì•¼ í• ê¹Œìš”?
- íšŒê·€: MAE, RMSE, R^2 ë“±ì„ ì‚¬ìš©í•  ìˆ˜ ìˆìŠµë‹ˆë‹¤.

---


**(Urclass Quiz)** ì—¬ëŸ¬ë¶„ë“¤ì´ í”„ë¡œì íŠ¸ì— ì‚¬ìš©í•  ë°ì´í„°ì˜ ê¸°ì¤€ëª¨ë¸ê³¼ ì‚¬ìš©í•  í‰ê°€ì§€í‘œë¥¼ ì œì¶œí•´ì£¼ì„¸ìš”.

In [22]:
# í´ë˜ìŠ¤ì˜ ë¹„ìœ¨ì„ í™•ì¸
df['income'].value_counts()/len(df)

# ê¸°ì¤€ ëª¨ë¸ë¡œëŠ” ìµœë¹ˆê°’ì„ ì´ìš©
# í‰ê°€ ì§€í‘œë¡œëŠ” '<=50K'ê°€ 75% ì´ìƒì„ ì°¨ì§€í•˜ë¯€ë¡œ accuracy ì‚¬ìš©ì€ ë¶€ì í•©, f1-score ì´ìš©

<=50K    0.75919
>50K     0.24081
Name: income, dtype: float64

## ğŸ”¥ ë„ì „ê³¼ì œ(Github - Discussion)

### 4) ì‹¤ë¬´ì—ì„œ ë°ì´í„°ë¶„ì„ê°€/ë°ì´í„°ì—”ì§€ë‹ˆì–´/ë°ì´í„°ì‚¬ì´ì–¸í‹°ìŠ¤íŠ¸ì—ê²Œ ì¤‘ìš”í•œ ì—­ëŸ‰ì´ ë¬´ì—‡ì´ë¼ê³  ìƒê°í•˜ë©°, ì–´ë–¤ ì–´ë ¤ì›€ì„ ê²ªê²Œ ë  ê²ƒ ê°™ì€ì§€ì™€ ì–´ë–¤ ëŠ¥ë ¥ì´ í•„ìš”í•  ì§€ ë…¼ì˜í•´ ë³´ì„¸ìš”. ë˜í•œ, ì„¹ì…˜2 í”„ë¡œì íŠ¸ì— ì•ì„œ ë³¸ì¸ì´ ì–»ê³ ì í•˜ëŠ” ì ì´ë‚˜ ë‹¤ì§ ë“±ì„ ì„œë¡œ ê³µìœ í•´ ë³´ì„¸ìš”.

In [ ]:
### ì´ê³³ì—ì„œ ê³¼ì œë¥¼ ì§„í–‰í•´ ì£¼ì„¸ìš” ###